.app {
    text-align: left;
    display: flex;
    height: 100%;
    flex-direction: row;
    overflow-y: scroll;
}

.nav-container {
    min-width: 200px;
    position: sticky;
    top: 0px;
    overflow-y: auto; 
    height: 100vh;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
